{% extends 'common/dom.html.twig'%}
{% block title %}- Visiteur{% endblock %}

{% block body %}

    <div class="authentication-theme auth-style_1">
        <h1 style="text-align:center; margin-bottom:40px; color: #114da6; "><b>Saisir une fiche</b></h1>
        <div class="row">
            <div class="col-lg-5 col-md-7 col-sm-9 col-6 mx-auto">
                <div class="grid">
                    <div class="grid-body">
                        <div class="item-wrapper">
                            {{form_start(formulaireSaisirFrais)}}
                                
                                <h2 class="grid-header">Frais au forfait : </h2>
                                
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.mois, {'value': date, 'disabled': 'disabled'})}}
                                </div>

                                
                                    <div class ="form-group">                          
                                        {{form_row(formulaireSaisirFrais.forfaitEtape, {'value':ficheFraisForfait[0]['quantite']})}}
                                    </div>
                                    <div class ="form-group">                          
                                        {{form_row(formulaireSaisirFrais.fraisKm,{'value':ficheFraisForfait[1]['quantite']})}}
                                    </div>
                                    <div class ="form-group">                          
                                        {{form_row(formulaireSaisirFrais.nuiteeHotel,{'value':ficheFraisForfait[2]['quantite']})}}
                                    </div>
                                    <div class ="form-group">                          
                                        {{form_row(formulaireSaisirFrais.repasRestaurant,{'value':ficheFraisForfait[3]['quantite']})}}
                                    </div>
                            
                                
                                <div class ="form-group">
                                    {{form_row(formulaireSaisirFrais.envoyer)}}
                                </div>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFrais.annuler)}}
                                </div>
                            {{form_end(formulaireSaisirFrais)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-9 col-6 mx-auto">
                <div class="grid">
                    <div class="grid-body">
                        <div class="item-wrapper">
                            {{form_start(formulaireSaisirFraisHorsForfait)}}
                                
                                <h2 class="grid-header">Frais Hors forfait : </h2>
                            
                                    <div class ="form-group">                          
                                        {{form_row(formulaireSaisirFraisHorsForfait.date)}}
                                    </div>
                                    <div class ="form-group">                          
                                        {{form_row(formulaireSaisirFraisHorsForfait.libelle)}}
                                    </div>
                                    <div class ="form-group">                          
                                        {{form_row(formulaireSaisirFraisHorsForfait.montant)}}
                                    </div>
                                
                                <div class ="form-group">
                                    {{form_row(formulaireSaisirFraisHorsForfait.envoyer)}}
                                </div>
                                <div class ="form-group">                          
                                    {{form_row(formulaireSaisirFraisHorsForfait.annuler)}}
                                </div>
                            {{form_end(formulaireSaisirFraisHorsForfait)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

{% endblock %}